<template id="dashboard">
  <div
    class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header"
  >
    <header
      class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600"
    >
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title" id="layout-title">Home</span>
        <div class="mdl-layout-spacer"></div>
      </div>
    </header>
    <div
      class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50"
    >
      <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
        <a class="mdl-navigation__link" href="index.html">
          <i
            class="mdl-color-text--blue-grey-400 material-icons"
            role="presentation"
          >
            home
          </i>
          Home
        </a>
        <a class="mdl-navigation__link" href="lessons.html">
          <i
            class="mdl-color-text--blue-grey-400 material-icons"
            role="presentation"
          >
            play_lesson
          </i>
          Lessons
        </a>
        <a class="mdl-navigation__link" href="notes.html">
          <i
            class="mdl-color-text--blue-grey-400 material-icons"
            role="presentation"
          >
            notes
          </i>
          Notes
        </a>
        <a class="mdl-navigation__link" href="payments.html">
          <i
            class="mdl-color-text--blue-grey-400 material-icons"
            role="presentation"
          >
            payment
          </i>
          Payments
        </a>
        <a class="mdl-navigation__link" href="scholarship.html">
          <i
            class="mdl-color-text--blue-grey-400 material-icons"
            role="presentation"
          >
            attach_money
          </i>
          Scholarship
        </a>

        <div class="mdl-layout-spacer"></div>
        <a
          class="mdl-navigation__link"
          href="https://gitlab.com/ElBatanony2/sqr-mini-lms"
        >
          <i
            class="mdl-color-text--blue-grey-400 material-icons"
            role="presentation"
          >
            code
          </i>
          <span>Repository</span>
        </a>
      </nav>
    </div>
    <main class="mdl-layout__content mdl-color--grey-100">
      <div class="mdl-grid demo-content">
        <div
          class="main-content mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col"
          id="content-parent"
        ></div>
      </div>
    </main>
  </div>
</template>
